# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp/
.pnp.js

# Expo
.expo/
web-build/
.env
.env.*.local
*.jks
*.p12
*.key
*.orig
*.apk
*.aab
*.ipa
*.xcdatamodeld/
*.xcworkspace/
*.xcodeproj/xcuserdata/
.DS_Store
Podfile.lock
ios/build/
android/build/
android/.gradle
android/app/build/
android/app/.idea/
android/gradle/
android/local.properties
# For build artifacts related to EAS
./dist/
./.expo-shared/
./app/

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
/android      
/ios          

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo
